/* Page Specific CSS */

body {
    font-family: Dosis;
    background: #fff;
    color: #333;
    font-size: 18px;
    border: 5px #E86E14 solid;
    margin: 0px;
   }

h1 {
    font-size: 72px;
    font-family: 'Shadows Into Light';
    font-weight: normal;
    margin: 0px;
    text-align: center
}

h2 {
    font-size: 50px;
    font-family: 'Shadows Into Light';
    font-weight: normal;
    margin: 11px 0px;
}

h3 {
    font-family: 'Shadows Into Light';
    font-size: 30px;
    margin: 10px 0px;
}

h4 {
    font-family: Dosis;
    font-size: 24px;
}

#mapeados {
    font-size: 24px;
    }

img {
    width: 100%;
}

p a,
a {
    color: #000;
    text-decoration: none;
    padding-bottom: 0px;
    border-bottom: 1px #E86E14 solid;
}

a:hover {
    color: #E86E14;
}

small {
    padding: 10px 0px;
    font-size: 12px;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

li {
    line-height: 19px;
    font-size: 18px;
    margin-bottom: 10px;
}

ol {
    line-height: 24px;
}

#tagging{ 
    padding:4px;
    line-height: 1.5em;
    max-width: 500px
}

a.button {
    border: none;
}

pre {
    word-wrap: break-word;
    padding: 14px;
    background: #F0F0F0;
}

code {
    font-family: "Consolas", "Ubuntu Mono", monospace;
    line-height: 22px;
    font-size: 13px;
    color: #636363;
    font-weight: normal;
}

.red-text {
    color: #E86E14;
}

.container-mapa{
    max-width: 1200px;
    margin: 0 auto;
}

hr{
    margin: 20px 0 30px;
    border: none;
    height: 5px;
    background-color: #E86E14;
}

#map {
    height: 400px;
    width: 100%;
    min-width: 300px;
    background: #DADADA;
}

#map a {
    border: none;
}

.container {
    margin: 24px 10%;
}

#tableFilter {
    margin: 2px 0px;
    width: 50%;
    padding: 10px;
    border: none;
    border: 1px solid #E86E14;
    background-color: rgba(232,110,20,.1);
    font-family: Dosis;
    color: #000;
    font-size: 16px;
    height: 22px;
    border-radius: 20px;
}

::selection {
    background: #E5FF1D;
}

::-moz-selection {
    background: #E5FF1D;
}

ul.navdois {
    display: inline;
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding-left: 4px;
    
}

ul.navdois {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center
}

ul.navdois li {
    display: inline;
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    line-height: 3em;
    padding: 5px;
}

ul.nav {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center
}

ul.nav li {
    display: inline;
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 14px;
    text-align: center;
    line-height: 3em;
}

ul.nav li a {
    border: none;
}

ul.nav li a:hover {
    border-bottom: 1px #FD9393 solid;
}

.wrapper {
    margin: 0px auto;
    max-width: 900px;
    padding: 40px 10px 0 10px;
    /*margin-left: 250px;*/
}

.button {
    padding: 5px 5px;
    background-color: #BEBEBE;
    font-size: 14px;
    color: #fff;
}

.button:hover {
    background: #E86E14;
    color: #fff;
}

.fauxButton {
    padding: 5px 5px;
    background-color: #E86E14;
    font-size: 14px;
    color: #fff;
    display: inline;
}

.fauxButton .selected {
    background-color: #E86E14;
}

.colorText {
    color: #E86E14;
    text-transform: uppercase;
    font-weight: 700;
}

.leaflet-popup-content h2 {
    font-family: Dosis;
    font-size: 14px;
    text-transform: uppercase;
}

#rightSide {
    background-color: rgba(232,110,20,.3);
    padding: 20px 40px;
    /*float: right;*/
}

#selectedSpot {
    display: none;
}

#latestSpot ul,
#selectedSpot ul {
    list-style: none;
    margin-top: 12px 0px;
    padding: 0px;
}

.category {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .1em;
    padding-right: 6px;
}

#info p {
    font-size: 18px;
    padding: 4px;
    line-height: 1.3em;
    font-weight: 300;
    margin-bottom: 10px;
}

#info {
    border-top: 4px #F8F8F8 solid;
}

#hackSpotsTable {
    cursor: pointer;
    background: #fff;
    overflow-x: auto;
    padding-bottom: 20px;
    height: 200px;
}

#hackSpotsTable table {
    min-width: 100%;
}

#hackSpotsTable .tHeader:hover {
    color: #FF4646;
}

.tHeader::after {
    content: " \2193 \2191 ";
    font-size: 10px;
    padding-left: 3px;
}

td{
    border-bottom: 1px #000 solid;
}

.spotRow:hover {
    color: #E86E14;
}

.spotRow {
    border-left: 3px solid #cbcbcb;
}

.hideRow {
    display: none;
}

.selectedRow {
    color: #E86E14;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 1024px) {
    body {
        border: 2px #E86E14 solid;
        margin: 2%;
        padding: 10px 10px 40px 20px;
    }
    #tableFilter,
    .clear,
    .resetMap {
        display: none;
    }
    #wrapper {
        max-width: 460px;
        padding-top: 20px;
        margin: 0;
    }
    #hackSpotsTable,
    #map {
        min-width: 150px;
    }
    #rightSide {
    padding: 20px 10px;
    }
    .container{
    margin: 0;   
    }
    #tagging{
        display: none;
    }
    h1{
        font-size: 3em;
        text-align: center
    }
}